<%= render 'errors', obj: @user %>

<%= form_with(model: @user, local:true) do |f| %>
<div class="col-lg-8 offset-lg-2">
  <div class="form-group ">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true %>
  </div>
  <div class="form-group ">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
  </div>

  <div class="form-group ">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: "form-control", placeholder: "Enter phone number" %>
  </div>
  <div class="form-group ">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, class: "form-control", placeholder: "Enter mobile number" %>
  </div>
  <div class="form-group ">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: "form-control", placeholder: "Enter your address" %>
  </div>


  <div class="form-group ">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control", placeholder:(@user.new_record? ? 'Enter Password' : 'leave blank if you don\'t want to change it') %>
  </div>

  <div class="form-group ">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder:(@user.new_record? ? 'Confirm Password' : 'leave blank if you don\'t change password') %>
  </div>
  <% if @user.photo? %>
  <div>
    <%= image_tag("#{@user.photo}" ,class: 'img-thumbnail', width:'300px' ,height:'203px') %>
    <%= label_tag :remove_photo do %>
    Remove image
    <%= f.check_box :remove_photo %>
    <% end %>
  </div>
  <% end %>

  <div class="form-group">
    <img width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden img_prev"/> <br/>
    <label class="btn btn-primary ">
      <%= (@user.new_record? ? 'Upload image' : 'Change image')%> <%= f.file_field :photo, id: "avatar-upload", style:'display:none' %>
    </label>
    <%= f.hidden_field :avatar_cache %>


  </div>


  <div class="form-group row">
    <%= f.submit(@user.new_record? ? 'Add User' : 'Update user account', class: 'btn btn-primary') %>
  </div>
</div>
<% end %>
<br>
