<% if @errors %>
<%= render 'errors', obj: @errors %>
<% end %>
<%= form_with(model: @user, local:true) do |f| %>
<div class="col-lg-8 offset-lg-3 admin-form">
  <div class="form-group ">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true, id: 'name', oninput: 'checkName()' %> 
    <span id="nameOutput"></span>
  </div>
  <div class="form-group ">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "form-control", placeholder: "Enter email", id: 'email', oninput: 'checkEmail()' %>
    <span id="emailOutput"></span>

  </div>

  <div class="form-group ">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: "form-control", placeholder: "Enter phone number", id: 'phone', oninput: 'checkPhone()' %>
    <span id="phoneOutput"></span>

  </div>

  <div class="form-group ">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, class: "form-control", placeholder: "Enter mobile number", id: 'mobile', oninput: 'checkMobile()' %>
    <span id="mobileOutput"></span>

  </div>
  <div class="form-group ">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: "form-control", placeholder: "Enter your address" %>
  </div>


  <div class="form-group ">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control", placeholder:(@user.new_record? ? 'Enter Password' : 'leave blank if you don\'t want to change it'), id: 'password', oninput: 'checkPassword()' %>
    <span id="passwordOutput"></span>

  </div>

  <div class="form-group ">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder:(@user.new_record? ? 'Confirm Password' : 'leave blank if you don\'t change password'), id: 'passwordConfirm', oninput: 'checkPasswordConfirm()' %>
    <span id="passwordConfirmOutput"></span>

  </div>
  <% if @user.photo? %>
  <div>
    <%= image_tag("#{@user.photo}" ,class: 'img-thumbnail old-photo', width:'300px' ,height:'203px') %>
    <%= label_tag :remove_photo, class: 'old-photo' do %>
    Remove image
    <%= f.check_box :remove_photo %>
    <% end %>
  </div>
  <% end %>

  <div class="form-group">
    <img width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden img_prev"/> <br/>
    <label class="btn btn-primary ">
      <%= (@user.new_record? ? 'Upload image' : 'Change image')%> <%= f.file_field :photo, id: "avatar-upload", style:'display:none' %>
    </label>
    <%= f.hidden_field :avatar_cache %>
  </div>


  <div class="form-group row">
    <div>
      <%= f.submit(@user.new_record? ? 'Add User' : 'Update user account', class: 'btn btn-primary', id: 'submit') %>

    </div>
  </div>
</div>
<% end %>
<br>

