<nav class="navbar navbar-expand-lg navbar-light bg-light pr-10 pl-10">
  <% if current_user %>
    <strong class="navbar-brand" href="#">Hi <%= current_user.name %></strong>
  <% else %>
      <strong class="navbar-brand" href="#"> Hi Guest</strong>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/search"> Search </a>
       <% if signed_in? %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        <%= "/ Admin" if current_user.admin %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit', edit_user_registration_path, class: 'dropdown-item'%>
        <% if current_user.admin %>
          <%= link_to 'Dashboard', board_path, class: 'dropdown-item'%>
        <% end %>
        </div>
      </li>
      <% end %>
    </ul>
    <% if current_user %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0 mr-2' %>
      <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>