<br><br>
<div class="container">

  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide ">
        <div class="blog-slider__img">
          <%= image_tag 'covid.jpg', alt: '' %>
        </div>
        <div class="blog-slider__content ">
          <h2 class="blog-slider__code">World Statistics</h2>
          <ul class="blog-slider__text">
            <li><b>New Confirmed:</b> <%= fix_number(@world_stats["Global"]["NewConfirmed"]) %></li>
            <li><b>Total Confirmed:</b> <%= fix_number(@world_stats["Global"]["TotalConfirmed"]) %></li>
            <li><b>New Death:</b> <%= fix_number(@world_stats["Global"]["NewDeaths"]) %></li>
            <li><b>Total Death:</b> <%= fix_number(@world_stats["Global"]["TotalDeaths"]) %></li>
            <li><b>New Recovered:</b> <%= fix_number(@world_stats["Global"]["NewRecovered"]) %></li>
            <li><b>Total Recovered:</b> <%= fix_number(@world_stats["Global"]["TotalRecovered"]) %></li>
          </ul>
        </div>
      </div>
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <%= image_tag 'cases.jpg', alt: '' %>
        </div>
        <div class="blog-slider__content">
          <h2 class="blog-slider__code">Top Confirmed</h2>
          <ul class="blog-slider__text">
            <% @top_confirmed.each do |country|  %>
            <li><%= "#{country["Country"]}: #{fix_number(country["TotalConfirmed"])}" %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <%= image_tag 'death.jpg', alt: '' %>
        </div>
        <div class="blog-slider__content">
          <h2 class="blog-slider__code">Top Death</h2>
          <ul class="blog-slider__text">
            <% @top_death.each do |country|  %>
            <li><%= "#{country["Country"]}: #{fix_number(country["TotalDeaths"])}" %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
    <div class="blog-slider__pagination"></div>
  </div>
</div>

