<br>
<div class="row">
<h1 class=" col-md-8"> <%= @json[0]['Country'] %></h1>

  <%= link_to 'New Search', search_path, class: 'col-md-3' %>
</div>

<br>

 <div class="row">
  <div class= "col-lg-6">
    <div class="card border-danger mb-3 mr-3" >
      <h5 class="card-header"> All statistics</h5>
      <div class="card-body text-danger row">
        <p class="card-text col-sm-6">
          Total Cases: <%= @all_data.last['Confirmed'] %>
        </p>
        <p class="card-text col-sm-6">
          Deaths: <%= @all_data.last['Deaths'] %>
        </p>
        <p class="card-text col-sm-6">
          Recovered: <%= @all_data.last['Recovered'] %>
        </p>
        <p class="card-text col-sm-6">
          Active: <%= @all_data.last['Active'] %>
        </p>
      </div>
    </div>
  </div>

  <div class= "col-lg-6">
    <div class="card border-danger mb-3 mr-3">
      <h5 class="card-header">statistics in this period</h5>
      <div class="card-body text-danger row">
        <p class="card-text col-sm-6">
          New cases: <%= doCalc(removeColony(@json),'Confirmed') %>
        </p>
        <p class="card-text col-sm-6">
          Deaths: <%= doCalc(removeColony(@json),'Deaths') %>
        </p>
        <p class="card-text col-sm-6">
          Recovered: <%= doCalc(removeColony(@json),'Recovered') %>
        </p>
        <p class="card-text col-sm-6">
        </p>

      </div>
    </div>
  </div>
</div>

<div class="row">
 <% removeColony(@json).each_with_index do |day, index| %>
 <% if index != 0 && day['Confirmed'] != 0 %>
 <div class="col-md-4 col-sm-6 col-lg-3 text-center">
   <div class="card-container manual-flip">
    <div class="card">
      <div class="front">
          <div class="header">
            <h4 class="card-title"><%= day['Date'].gsub("T00:00:00Z", "")%></h4>

          </div>
        <div class="content">
          <div class="main">
            <p class="card-text">New Cases: <%= dayStatus(removeColony(@json),index,'Confirmed')%>
            </p>
            <p class="card-text">New Deaths: <%= dayStatus(removeColony(@json),index,'Deaths')%>
            </p>
            <p class="card-text">New Recovered: <%= dayStatus(removeColony(@json),index,'Recovered')%>
            </p>          </div>
            <div class="footer">
              <button class="btn btn-simple" onclick="rotateCard(this)">
                <i class="fa fa-mail-forward"></i> Stats until this day
              </button>
            </div>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h4 class="card-title"><%= day['Date'].gsub("T00:00:00Z", "")%></h4>

          </div>
          <div class="content">
            <div class="main">
        <p class="card-text">Total Cases: <%=  day['Confirmed'] %> </p>
        <p class="card-text">Deaths: <%=  day['Deaths'] %> </p>
        <p class="card-text">Recovered: <%=  day['Recovered'] %></p>
        <p class="card-text">Active: <%=  day['Active'] %> </p>

            </div>
          </div>
          <div class="footer">
            <button class="btn btn-simple"  onclick="rotateCard(this)">
              <i class="fa fa-reply"></i> Back
            </button>
          </div>
        </div> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
<% end %>
<% end %>

</div>

