<br>
<div class="row">
  <h1 class=" col-md-8"> <%= @response[0]['Country'].capitalize %></h1>

  <%= link_to 'New Search', search_path, class: 'col-md-3' %>
    <h6><strong> Data and Charts begin from the first case recorded (all other data will be deprecated)
  </strong></h6>

</div>
<br>

<div class="row">
  <div class= "col-lg-6">
    <div class="card border-danger mb-3 mr-3" >
      <h5 class="card-header"> All statistics</h5>
      <div class="card-body text-danger row">
        <p class="card-text col-sm-6">
          Total Cases: <%= @countryAllstats.last['Confirmed'] %>
        </p>
        <p class="card-text col-sm-6">
          Deaths: <%= @countryAllstats.last['Deaths'] %>
        </p>
        <p class="card-text col-sm-6">
          Recovered: <%= @countryAllstats.last['Recovered'] %>
        </p>
        <p class="card-text col-sm-6">
          Active: <%= @countryAllstats.last['Active'] %>
        </p>
      </div>
    </div>
  </div>

  <div class= "col-lg-6">
    <div class="card border-danger mb-3 mr-3">
      <h5 class="card-header">statistics in this period</h5>
      <div class="card-body text-danger row">
        <p class="card-text col-sm-6">
          New cases: <%= periodStatus(removeColony(@response),'Confirmed') %>
        </p>
        <p class="card-text col-sm-6">
          Deaths: <%= periodStatus(removeColony(@response),'Deaths') %>
        </p>
        <p class="card-text col-sm-6">
          Recovered: <%= periodStatus(removeColony(@response),'Recovered') %>
        </p>
        <p class="card-text col-sm-6">
        </p>

      </div>
    </div>
  </div>
</div>

<% if (@response[0]['Confirmed'] && @response.last['Confirmed']) > 0 %>
<div class="row">
   <div class="col-md-6">
    <figure class="highcharts-figure">
        <div id="container">

        </div>
    </figure>
    </div> 
    <div class="col-md-6">
        <figure class="highcharts-figure">
            <div id="container2">
            </div>
        </figure>
    </div> 

</div>
  <%= render 'chart'%>
<% else %>
<div class="row">
  <h3 class="container"><strong> There is no Cases in this period </strong></h3>
  </div>
<% end %>


<div class="row">
  <% removeColony(@response).each_with_index do |day, index| %>
  <% if index != 0 && day['Confirmed'] != 0 %>
  <div class="col-md-4 col-sm-6 col-lg-3 text-center">
   <div class="card-container manual-flip">
    <div class="card">
      <div class="front">
        <div class="header">
          <h4 class="card-title"><%= day['Date'].gsub("T00:00:00Z", "")%></h4>

        </div>
        <div class="content">
          <div class="main">
            <p class="card-text">New Cases: <%= dayStatus(removeColony(@response),index,'Confirmed')%>
            </p>
            <p class="card-text">New Deaths: <%= dayStatus(removeColony(@response),index,'Deaths')%>
            </p>
            <p class="card-text">New Recovered: <%= dayStatus(removeColony(@response),index,'Recovered')%>
            </p>          </div>
            <div class="footer">
              <button class="btn btn-simple" onclick="rotateCard(this)">
                <i class="fa fa-mail-forward"></i> Stats until this day
              </button>
            </div>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h4 class="card-title"><%= day['Date'].gsub("T00:00:00Z", "")%></h4>

          </div>
          <div class="content">
            <div class="main">
              <p class="card-text">Total Cases: <%=  day['Confirmed'] %> </p>
              <p class="card-text">Deaths: <%=  day['Deaths'] %> </p>
              <p class="card-text">Recovered: <%=  day['Recovered'] %></p>
              <p class="card-text">Active: <%=  day['Active'] %> </p>

            </div>
          </div>
          <div class="footer">
            <button class="btn btn-simple"  onclick="rotateCard(this)">
              <i class="fa fa-reply"></i> Back
            </button>
          </div>
        </div> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
  <% end %>
  <% end %>
</div>


