<div class="row">
  <div class="col-md-12">
     <figure class="highcharts-figure">
        <div id="container3">
        </div>
    </figure>
</div>
</div>
<%= currencyChartData(sort_currency_rate(@currencyExchange['rates']), @currency) %>
<br><br>
<%= currencyChartDate(sort_currency_rate(@currencyExchange['rates'])) %>
<br><br>

<script>
 Highcharts.chart('container3', {

    title: {
        text: 'Exhange statistics'
    },

    xAxis: {
        labels: {
            enabled: true,
        },
        categories: ['<%= currencyChartDate(sort_currency_rate(@currencyExchange['rates'])).first %>', '<%= currencyChartDate(sort_currency_rate(@currencyExchange['rates'])).last %>']


    },

yAxis: {
    title: {
        text: 'Rates'
    }
},

legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},

series: [{
    name: '1$ = ',
    data: <%= currencyChartData(sort_currency_rate(@currencyExchange['rates']), @currency) %>
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});


</script>
